<!--
	Included as the default for baseof.html block:js-body-bottom
	Most pages will not need to override this block. The 404.html
	page does override the block to include an additional Javascript
	partial (used to recover the errant URL), as much for demonstration
	purposes as anything.
-->

<!-- js-menu.html implements javascript which activates the primary navigation
	 menu for smaller displays (tablet, phone)
-->
{{- partial "js-menu.html" . }}


<script type="text/javascript">

	function downloadAtOnload() {
	// Dynamically load CSS
	var ls = document.createElement("link");
 	ls.rel="stylesheet";
 	ls.href= "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i";
 	document.getElementsByTagName("head")[0].appendChild(ls);

	}
	if (window.addEventListener) window.addEventListener("load", downloadAtOnload, false);
	else if (window.attachEvent) window.attachEvent("onload", downloadAtOnload);
	else window.onload = downloadAtOnload;
	</script>
